/* @media (max-width: 30em) {
    .container-holder{
        height: 100vh;
        max-width: 100%;
        align-items: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 95vh;
        width: 90%;
        max-width: 90vw;
        background-color: var(--white);
        padding: 0;
    }
    .img-div{
        width: 100%;
        height: 50%;
    }
    .picture-img{
        width: 100%;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    } */
    /*********product design area*******/
    /* .product-details {
        height: 60%;
        width: 90%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
    }
.span-text{
        padding-top: 1.1rem;
        letter-spacing: 4px;
        color: hsl(228, 12%, 48%);
        font-size: .9rem;
}
.product-details h1{
        padding: .5rem 1rem 0 0;
        font-size: 1.8rem;
        line-height: 1.1;
        word-spacing: .2rem;
}
.product-details p{
        line-height: 1.4;
        margin: 0;
        padding: .5rem 0 0 0;
        margin-bottom: .5rem;
        font-size: .9rem;
}
.amount {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 1px;
    display: inline-block;
    color: var(--dark-cyan);

}
.btn{
    margin: -.5rem auto 1rem auto;
}
} */
